// Place all the styles related to the organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

fieldset {
  width: 400px;
}
input[type=text] { width: 400px; }
textarea { width: 400px; height: 100px; }
fieldset > legend { font-weight: bold }

@media (min-width: 961px) and (max-width: 1400px) { div.fieldsets { columns: 2; } }
@media (min-width: 1401px) { div.fieldsets { columns: 3; } }

div.avoid-break { break-inside: avoid; }
fieldset { break-inside: avoid; }

table { border-collapse: collapse; }
tr { border-top: 1px solid black; }
tr.industry { background-color: black; color: white; }

th { text-align: left; }
tr.industry th { text-align: center; }
